{% extends '@STGTheme/Default/base.html.twig' %}
{# {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
{{ form_widget(form) }}
{{ form_end(form) }} #}

{% block content %}

    
    <div class="card bg-light mb-12">
        <h1>PLANTILLA DE EVALUACIÓN CATEGORIZACIONES {{ formulario.id }}</h1>
        
        
    </div>
{% endblock %}