{% extends '@STGTheme/Default/base.html.twig' %}
{# {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
{{ form_widget(form) }}
{{ form_end(form) }} #}

{% block content %}

    <div class="card-body">
        
        <div class="form-inline col-md-12">

            <div class="form-goup col-md-6">

                <div class="form-group row">
                    <label for="inputPassword4" class="col-sm-3 col-form-label">Razón Social:</label>
                    <input type="text" class="form-control" id="razonSocial-plantilla">
                </div>  
                <div class="form-group row">
                    <label for="inputPassword4"class="col-sm-3 col-form-label">Expediente N°:</label>
                    <input type="text" class="form-control" id="razonSocial-plantilla">
                </div> 
                <div class="form-group row">
                    <label for="inputPassword4"class="col-sm-3 col-form-label">FECHA INICIO EXPTE:</label>
                    <input type="text" class="form-control" id="razonSocial-plantilla">
                </div> 
                <div class="form-group row">
                    <label for="inputPassword4"class="col-sm-3 col-form-label">EVALUADOR:</label>
                    <input type="text" class="form-control" id="razonSocial-plantilla">
                </div> 
            </div>

            <div class="form-goup col-md-6">

                <div class="form-group row">
                    <label for="inputPassword4"class="col-sm-3 col-form-label">VERSIÓN</label>
                    <input type="text" class="form-control" id="razonSocial-plantilla">
                </div>  
                <div class="form-group row">
                    <label for="inputPassword4"class="col-sm-3 col-form-label">INICIO EVALUACIÓN:</label>
                    <input type="text" class="form-control" id="razonSocial-plantilla">
                </div> 
                <div class="form-group row">
                    <label for="inputPassword4"class="col-sm-3 col-form-label">FIN EVALUACIÓN:</label>
                    <input type="text" class="form-control" id="razonSocial-plantilla">
                </div> 
                <div class="form-group row">
                    <label for="inputPassword4"class="col-sm-3 col-form-label">DÍAS DE EVALUACIÓN:</label>
                    <input type="text" class="form-control" id="razonSocial-plantilla">
                </div> 
            </div>
        </div>

        <div clase="form-goup col-md-12">
            <div class="card-header">SUB-RUTINA</div>
                <div class="form-goup row col-sm-12 col-form-label">
                    
                    <label for="I_INV" class="col-form-label">Investigar empresa: </label>
                  
                    <select class="col-sm-2">
                        <option value=""  selected="selected" class="col-sm-3 col-form-label"></option>
                        <option value="a" data-choice="a" data-key="0">NO HECHO</option>
                        <option value="b" data-choice="b" data-key="1">HECHO</option>

                    </select>
                    <div class="col-sm-3 col-form-label">
                        <input type="checkbox" name="checkbox" id="checkbox_id"/>
                    </div>
                </div>
                <div class="form-goup row col-sm-12 col-form-label">
                    
                    <label for="I_INV" class="col-form-label">Indicar si la empresa existe: </label>
                    <select class="col-sm-2 ">
                        
                        <option value=""  selected="selected"></option>
                        <option value="a" data-choice="a" data-key="0">SI</option>
                        <option value="b" data-choice="b" data-key="1">NO</option>

                    </select>
                    <div class="col-sm-3 col-form-label">
                        <input type="checkbox" name="checkbox" id="checkbox_id"/>
                    </div>
                </div>

            </div>
        </div>

    </div>
{% endblock %}